footer{   
    background-color: rgb(14, 13, 13) !important;
    padding: 10px !important;
}

#contact{
    padding-top: 30px;
    padding: 70px;
}

html{
    background-color: #FAFAFA !important;
}

.alternativeText h2{
    color: #333333;
}

.alternativeText p{
    color: #767676;
}

#contact i{
    color: #000;
}

.logo{
    width: 50px;
    height: 30px;
}

.btn-default{
    background-color:rgba(40, 148, 140, 0.2);
    color: black;
}

#myModal{
    color: black;
}

.icon-login{
    width: 20px;
}

.register-button{
    margin-top: 10px;
    border-radius: 5px!important;
}

a{
    cursor: pointer;
}