.logo{
  height: 35px !important;
  margin-top: -8px;
  float: left;
  margin-right: 10px;
}

.main-div{
  color: #5E5E5E;
  position: relative;
}

.main-div h2{
  margin-top: 15px;
  text-align: center;
}

.content{

}

.buttons-form{
  float: right;
  width: 100%;
  text-align: right;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 10px;
}

.panel-default{
  box-shadow: 0px 3px 9px rgba(0,0,0,0.2);
}

table th{
  text-align: center;
}

table td a{
  padding: 5px;
  cursor: pointer;
}

table tr{
  text-align: center;
}

.clicker{
  cursor: pointer;
  position: relative;
}

.clicker:hover{
  background-color: rgba(0,0,0,0.08);
}

#myChart{
  height: auto !important;
  width: 100% !important;
}

.hiddenDescription{
  text-decoration: underline;
  float: right;
  font-size: 10px;
}

#dataTables-example_filter input{
  width: 171px!important
}

.badge-notify{
   background-color:rgb(255,0,0);
   position:relative;
   font-size: 11px;
   color: #FFF;
   border-radius: 50%;
   right: 8px;
   bottom: 10px;
   padding: 3px;
   padding-right: 4px;
   padding-left: 5px;
   border-right: 1px solid rgba(0,0,0,0.1);
   box-shadow: 1px 1px 6px rgba(0,0,0,0.7)
}