.form-login{
    margin-top: 110px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px solid #FAFAFA;
    box-shadow: 0px 0px 7px #888888;
    border-radius: 10px;
    padding: 30px;
    padding-top: 90px;
    position: relative;
    height: 380px;
}

.form-title{
    position: relative;
    margin:auto;
    margin-top: -50px;
    margin-bottom: 30px;
}

body{
    position: relative;
    background-color: #FAFAFA;
    background-image: url("../../img/resumodasemana.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login-buttons{
    margin-top: 27px;
}

.icon-login{
    width: 20px;
}

.footer{
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 0px;
    color: #8a9196;
}

.btn{
    margin-bottom: 2px;
}